<div class="container__spacing"></div>
<div class="home__container">
    <div class="home__section">
        <div class="home__heading">Good morning, Ali</div>
        <div class="home__rating">
            <div class="rating"><mat-icon>star</mat-icon><span class="rating__title">5.0</span></div>
            <div  class="rating"><mat-icon>location_on</mat-icon><span  class="rating__title">D&D Butchery (2655 Lawrence Avenue East)</span></div>
        </div>
        <div class="summary__heading">Today's summary</div>
        <div class="summary__updated">Last updated 22 hours ago</div>
        <div class="summary__section">
            <div class="summary__cards">
                <div class="detail__align">
                    <div class="card__heading">Sales</div>
                    <div class="card__detail">CA$0.00</div>
                </div>
            </div>
            <div class="summary__cards">
                <div class="detail__align">
                    <div class="card__heading">Orders</div>
                    <div class="card__detail">0</div>
                </div>
            </div>
            <div class="summary__cards">
                <div class="detail__align">
                    <div class="card__heading">Average ticket size</div>
                    <div class="card__detail">CA$0.00</div>
                </div>
            </div>
        </div>
        <div class="div__opportunity">
            <div class="opportunity__heading">Top opportunities</div>
            <div class="opportunity__detail">Improve your business on the platform with opportunities.</div>
            <div class="opportunity__card">
                <div class="opportunity__align">
                    <div class="opp__detailAlign">
                        <div class="growth__card">Growth</div>
                        <div class="opp__subHeading">Create an ad to attract new customers</div>
                        <div class="opp__subDetail">Ads boost your store higher up in the feed. Pause or cancel at any time.</div>
                        <div><button class="opp__button">Create campaign</button></div>
                    </div>
                    <div><img class="opp__img" src="../../../../assets/megaphone.png" alt=""></div>
                </div>
            </div>
            <div class="opportunity__message">Once completed it may take a few days for new opportunities to show. Outcomes from opportunities are not guaranteed.</div>
        </div>
        <div class="div__operations">
            <div class="op__headingsection">
                <div class="op__heading">Operations</div>
                <div class="op__daterange">Mar 19 - Mar 25</div>
            </div>
            <div class="op__section">
                <div class="op__cards">
                    <div class="op__header">
                        <div class="op__cardheading">Inaccurate orders<span><mat-icon class="arrow__icon">keyboard_arrow_right</mat-icon></span></div>
                        <div class="op__carddetail">Orders reported with missing or wrong items</div>
                    </div>
                    <div class="op__body">
                        <div>
                            <div class="op__bodyheading">Orders</div>
                            <div class="op__bodydetail">0</div>
                        </div>
                        <div>
                            <div class="op__bodyheading">Customer refunds</div>
                            <div class="op__bodydetail">CA$0</div>
                        </div>
                    </div>
                </div>
                <div class="op__cards">
                    <div class="op__header">
                        <div class="op__cardheading">Store downtime<span><mat-icon class="arrow__icon">keyboard_arrow_right</mat-icon></span></div>
                        <div class="op__carddetail">Time your store was unavailable during open hours</div>
                    </div>
                    <div class="op__body">
                        <div>
                            <div class="op__bodyheading">Total time</div>
                            <div class="op__bodydetail">0h 0m</div>
                        </div>
                        <div>
                            <div class="op__bodyheading">Potential sales lost</div>
                            <div class="op__bodydetail">CA$0</div>
                        </div>
                    </div>
                </div>
                <div class="op__cards">
                    <div class="op__header">
                        <div class="op__cardheading">Unfulfilled orders<span><mat-icon class="arrow__icon">keyboard_arrow_right</mat-icon></span></div>
                        <div class="op__carddetail">Orders that were missed or canceled by the store</div>
                    </div>
                    <div class="op__body">
                        <div>
                            <div class="op__bodyheading">Orders</div>
                            <div class="op__bodydetail">0</div>
                        </div>
                        <div>
                            <div class="op__bodyheading">Sales lost</div>
                            <div class="op__bodydetail">CA$0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div__customers">
            <div class="cstmr__headingsection">
                <div class="cstmr__heading">Customers</div>
                <div class="cstmr__daterange">Mar 19 - Mar 25</div>
            </div>
        </div>
        <div class="cstmr__section">
            <div class="cstmr__cards">
                <div class="cstmr__header">
                    <div class="cstmr__cardheading">Customers<span><mat-icon class="arrow__icon">keyboard_arrow_right</mat-icon></span></div>
                    <div class="cstmr__carddetail">Customer groups based on order frequency</div>
                </div>
                <div class="cstmr__body">
                    <div>
                        <div class="cstmr__bodyheading">New</div>
                        <div class="cstmr__bodydetail">0</div>
                    </div>
                    <div>
                        <div class="cstmr__bodyheading">Return</div>
                        <div class="cstmr__bodydetail">0</div>
                    </div>
                    <div>
                        <div class="cstmr__bodyheading">Lapsed</div>
                        <div class="cstmr__bodydetail">0</div>
                    </div>
                </div>
            </div>
            <div class="cstmr__cards">
                <div class="cstmr__header">
                    <div class="cstmr__cardheading">Customer feedback<span><mat-icon class="arrow__icon">keyboard_arrow_right</mat-icon></span></div>
                    <div class="cstmr__carddetail">A measure of how you are rated by customers</div>
                </div>
                <div class="cstmr__body">
                    <div>
                        <div class="cstmr__bodyheading">Average rating</div>
                        <div class="cstmr__bodydetail"><mat-icon class="star__icon">star</mat-icon>0</div>
                    </div>
                    <div>
                        <div class="cstmr__bodyheading">Reviews</div>
                        <div class="cstmr__bodydetail">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__section">
        <div class="sidebar__heading">Quick actions</div>
        <div class="sidebar__options">
            <div class="sidebar__list">
                <img class="sidebar__icons" src="../../../../assets/megaphone small icon.png" alt="">
                <div class="sidebar__namealign">
                    <div class="sidebar__optName">Create ad</div>
                    <div><mat-icon class="sidebar__arrow__icon">keyboard_arrow_right</mat-icon></div>
                </div>
            </div>
            <div class="sidebar__list">
                <img class="sidebar__icons" src="../../../../assets/discount.png" alt="">
                <div class="sidebar__namealign">
                    <div class="sidebar__optName">Create offer</div>
                    <div><mat-icon class="sidebar__arrow__icon">keyboard_arrow_right</mat-icon></div>
                </div>
            </div>
            <div class="sidebar__list">
                <img class="sidebar__icons" src="../../../../assets/cold-drink.png" alt="">
                <div class="sidebar__namealign">
                    <div class="sidebar__optName">Edit item</div>
                    <div><mat-icon class="sidebar__arrow__icon">keyboard_arrow_right</mat-icon></div>
                </div>
            </div>
            <div class="sidebar__list">
                <img class="sidebar__icons" src="../../../../assets/clock.png" alt="">
                <div class="sidebar__namealign">
                    <div class="sidebar__optName">Edit menu hours</div>
                    <div><mat-icon class="sidebar__arrow__icon">keyboard_arrow_right</mat-icon></div>
                </div>
            </div>
            <div class="sidebar__list">
                <img class="sidebar__icons" src="../../../../assets/user-guide.png" alt="">
                <div class="sidebar__namealign">
                    <div class="sidebar__optName">Learning guide</div>
                    <div><mat-icon class="sidebar__arrow__icon">keyboard_arrow_right</mat-icon></div>
                </div>
            </div>
        </div>
    </div>
</div>