<div id="goal-page" class="goal__container">
    <div class="back__btn">
        <mat-icon class="icon__hover" (click)="goBack()">keyboard_arrow_left</mat-icon>
    </div>
    <div class="goal__top">
        <div class="goal__left">
            <h1>Get more orders</h1>
            <p>Encourage orders by creating promotion or ads </p>
        </div>
        <div class="goal__right">
            <img src="../../../../../assets/order_svg.svg" />
        </div>
    </div>

    <div class="goal__promotion__section">
        <div class="goal__promotion__title">
            <h2>Top suggestion </h2>
            <h3>Tools are suggested based on your stores activity</h3>
        </div>

        <div class="goal__promotion__card">
            <div class="goal__promotion__left">
                <h1>Pic</h1>
            </div>
            <div class="goal__promotion__right">
                <h2>Buy 1, Get 1 Free</h2>
                <h6>Up to 39% more orders</h6>
                <h3>Set BOGO discounts on up to 10 items</h3>
                <button class="rounded__button promo__btn btn">Create promotion</button>
            </div>

        </div>
    </div>

    <div class="goal__explore__section">
        <div>
            <h1>Explore other goals</h1>
        </div>
        <div class="goal__explore__div">
            
            <div class="goal__explore__card">
                <div>
                    <img src="../../../../../assets/order_svg.svg"/>
                    <h2>Boost your availability</h2>
                    <h3>Boost your store in the Uber Eats feed.</h3>
                </div>
                <div>
                    <button class="rounded__button btn__light">Explore</button>
                </div>
            </div>

            <div class="goal__explore__card">
                <div>
                    <img src="../../../../../assets/order_svg.svg"/>
                    <h2>Boost your availability</h2>
                    <h3>Boost your store in the Uber Eats feed.</h3>
                </div>
                <div>
                    <button class="rounded__button btn__light">Explore</button>
                </div>
            </div>

            <div class="goal__explore__card">
                <div>
                    <img src="../../../../../assets/order_svg.svg"/>
                    <h2>Boost your availability</h2>
                    <h3>Boost your store in the Uber Eats feed.</h3>
                </div>
                <div>
                    <button class="rounded__button btn__light">Explore</button>
                </div>
            </div>
        </div>
    </div>
</div>